<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Object Tracker</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
    <body>
        <h1>Webcam Object Tracker</h1>

        <h3 id="fps-display">FPS: --</h3> 
        <button id="toggle-btn" onclick="toggleTracking()" class ="toggle-btn_Stop">Stop Tracking</button>
        <img src="/video_feed" width="640">    
        <p style="color: rgb(0,255,255)">Made by CybertronianFan on <a href="https://github.com/CybertronianFan" target="_blank"  style="color: rgb(0,255,255)">Github</a></p>
        <p> If you would like to see some of the documentation please see my  <a href="https://github.com/CybertronianFan/Object-Detector" target="_blank"> Github repository</a></p>
        <script src="/static/script.js"> </script>
    </body>
</html>

